p{
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 2px;
    margin:50px;
}
h1, h2{
    margin:auto;
    width: 30%; 
}
h2{
    margin:auto;
    width: 25%;
}
main{
    margin-left:150px;
    margin-right:150px;
}